!!! 5
%html

  %head
    %meta(charset='utf-8')
    %title inexistenz.com
    %link(rel='stylesheet' href='css.css' type='text/css')

  %body
    %header
      #main-nav
        #title inexistenz.com
        %ul
          %li about
          %li cv
          %li contact

    #contact-container

